$navbar-default-bg: #7c7c7c;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-default .navbar-nav li a {
    color: #fff;
}

.navbar-nav li .dropdown-menu {
    background: #7c7c7c;
}

.navbar-nav li .dropdown-menu a:hover {
    background: #B6B6B6;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.jumbotron {
    background-image: asset-url("homejumbo.jpg");
    background-size: cover;
    height: 650px;
}

.jumbotron h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
    letter-spacing: -1px;
    font-weight: bold;
}

.listing {
    list-style: none;
    padding-left: 0;
}

.center {
    text-align: center;
}

.article-meta-details {
    border-top: 1px solid #eaeaea;
    margin-top: 15px;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.description {
    margin-top: 0;
}

.footer a {
    text-decoration: none;
}

.footer ul {
    float: right;
}
