<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy
            by Ian Chick
            <ul>
                <%= link_to "About Us", about_path %>
            </ul>
        </small>
    </footer>
</div>